<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <title>Asthma Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <script src="./static/lib/js/dc.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js" integrity="sha512-0x7/VCkKLLt4wnkFqI8Cgv6no+AaS1TDgmHLOoU3hy/WVtYta2J6gnOIHhYYDJlDxPqEqAYLPS4gzVex4mGJLw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/dc.min.js" integrity="sha512-vIRU1/ofrqZ6nA3aOsDQf8kiJnAHnLrzaDh4ob8yBcJNry7Czhb8mdKIP+p8y7ixiNbT/As1Oii9IVk+ohSFiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js" integrity="sha512-AxVvqPXa38W1cR1DEcxNLBO+tI52iSuWZSnMR1yqRv9aIEPh6s2pIhCN64XLaxgaL5BTlPNB3xSb7XAv1I7n3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.7/d3-queue.min.js" integrity="sha512-XDtsnRieTqWDkhAqVuJigtbHaDy7+V39nZ99Mn66LAmnxdb/kjdiffUkL3pZEX2x/nfs8+ftBLgFpXQGhQ4M2Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-scale/0.0.1/scale.js" integrity="sha512-xrrxggGL0oQcZ+UQOZnwdnj1miGZPtTD2lgJqqcGZZM2CcDZfUXsJN4/nuXJxKI+uBENrvCRiJ4pfV3dTz6B3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Asthma Dashboard</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-6 col-sm-6">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-lg-7 col-sm-7">
            <div class="chart-wrapper">
              <div class="chart-title">
                Average Percent of Asthma Cases from 2011-2019       
              </div>
              <div class="chart-stage">
                <div id="percent-line-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Time Chart --> 
          <div class="col-lg-5 col-sm-5">
            <div class="chart-wrapper">
              <div class="chart-title">
                Top 10 States by Asthma Percentage   
              </div>
              <div class="chart-stage">
                <div id="year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Map -->  
          <div class="col-lg-12 col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Percentage of Populations with Asthma by State           
              </div>
              <div class="chart-stage">
                <div id="us-chart"></div>
              </div>
            </div>
          </div>
          <!-- Map -->

        </div>
      </div>

      <div class="col-lg-3 col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Asthma Percentage by Income Bracket                   
          </div>
          <div class="chart-stage">
            <div id="year-line-chart"></div>
          </div>
        </div>
      </div>
      <!-- Resources Pie -->

      <!-- Poverty Pie -->
      <div class="col-lg-3 col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Asthma Percentage by Age Bracket (>=18)              
          </div>
          <div class="chart-stage">
            <div id="age-cases-chart"></div>
          </div>
        </div>
      </div>
      <!-- Poverty Pie -->

      <div class="col-lg-3 col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Asthma Percentage by Education Level              
          </div>
          <div class="chart-stage">
            <div id="edu-cases-chart"></div>
          </div>
        </div>
      </div>
      <!-- Resources Pie -->

      <!-- Poverty Pie -->
      <div class="col-lg-3 col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Asthma Percentage by Race/Ethnicity                    
          </div>
          <div class="chart-stage">
            <div id="race-cases-chart"></div>
          </div>
        </div>
      </div>
      <!-- Poverty Pie -->

      <!-- Metric 2 -->
      <div class="col-lg-6 col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
             Average Yearly Asthma Cases                                       
          </div>
          <div class="chart-stage">
            <div id="cases-display"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

      <!-- Metric 2 -->
      <div class="col-lg-3 col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
             Asthma Cases Per State/Year
          </div>
          <div class="chart-stage">
            <div id="avg-percent-display"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

      <!-- Metric 2 -->
      <div class="col-lg-3 col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
             Average Asthma Percentage
          </div>
          <div class="chart-stage">
            <div id="avg-cases-display"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

  </div>

    <hr>
    <p class="small text-muted">Data from <a href="https://www.cdc.gov/asthma/brfss/default.htm">CDC.gov</a></p>

  </div>

  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/holder.js"></script>

  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script type=text/javascript src="{{
    url_for('static', filename='js/graphs.js') }}"></script>
  <script src="./static/lib/js/keen.min.js"></script>
  <script src="./static/lib/js/meta.js"></script>

</body>
</html>
